
<% include ../partials/header %>

<main>
<div class="container">
    <div class="page-header text-center">
        <h1 class="manage-payments-title"><span class="fa fa-anchor"></span>Manage Payments</h1>
    </div>
    <div class="row">
        <form class="col s12 payment-creation-form z-depth-3" action="/payments" method="post">
            <legend>Create Payment</legend>
            <div class="row">
              <div class="input-field col s6">
                <input id="description" name="description" type="text" class="validate" required>
                <label for="description">Description</label>
              </div>
              <div class="input-field col s6">
                <input id="amount" name="amount" type="number" class="validate" required>
                <label for="amount">Amount</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="date" name="nextPaymentDate" type="text" class="datepicker" required>
                <label for="date">Next Payment Date</label>
              </div>
            <div class="input-field col s6">
              <select name="frequency">
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly" selected>Monthly</option>
                <option value="Yearly">Yearly</option>
              </select>
              <label>Frequency</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="paymentWebsite" name="paymentWebsite" type="url" value="https://" class="validate" required>
            <label for="paymentWebsite">Payment Website</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn">Create</button>
        </form>
    </div>
    <div>
        <h3><%=payments.length%> Payments</h3>
    </div>
    <% for(var i=0; i < payments.length; i++) { %>
        <div class="card <%= (moment() > moment(payments[i].nextPaymentDate)) ? 'red' : 'blue'  %> darken-4">
            <div class="card-content white-text">
                <span class="card-title"><%= payments[i].description %></span>
                <p>Amount: <%= payments[i].amount %></p>
                <p>Frequency: <%= payments[i].frequency %></p>
                <p>Payment Date: <%= payments[i].nextPaymentDate.toDateString() %></p>
                <p>Payment Website: <%= payments[i].paymentWebsite %></p>
            </div>
            <div class="card-action card-links white blue-text text-darken-4">
                <a href="/payments/completed/<%= payments[i]._id %>">Payment Made</a>
                <a class="update-details-button activator">Update Details</a>
                <a href='/payments/delete/<%= payments[i]._id %>'>Delete</a>
            </div>
            <div class="card-reveal">
                <form class="payment-update-form" action="payments/update/<%= payments[i]._id %>" method="POST">
                    <legend class="card-title card-reveal-title grey-text text-darken-4">Update Payment<i class="material-icons right">close</i></legend>
                    <div class="row">
                      <div class="input-field col s6">
                        <input type="text" name="description" value="<%= payments[i].description %>">
                      </div>
                      <div class="input-field col s6">
                        <input type="number" name="amount" value="<%= payments[i].amount %>"> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <input type="text" name="nextPaymentDate" value="<%= payments[i].nextPaymentDate.toDateString() %>">
                      </div>
                      <div class="input-field col s6">
                        <select name="frequency">
                          <option value="Daily">Daily</option>
                          <option value="Weekly">Weekly</option>
                          <option value="Monthly" selected>Monthly</option>
                          <option value="Yearly">Yearly</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <input value="<%= payments[i].paymentWebsite %>" name="paymentWebsite" type="url" class="validate">
                      </div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn pay-update-button">Update</button>
                </form>
            </div>
        </div>
    <% } %>
</div>
<main>


<% include ../partials/footer %>